<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.myappinfo.dao.AppVersionMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.myappinfo.pojo.AppVersion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appId" jdbcType="BIGINT" property="appid" />
    <result column="versionNo" jdbcType="VARCHAR" property="versionno" />
    <result column="versionInfo" jdbcType="VARCHAR" property="versioninfo" />
    <result column="publishStatus" jdbcType="BIGINT" property="publishstatus" />
    <result column="downloadLink" jdbcType="VARCHAR" property="downloadlink" />
    <result column="versionSize" jdbcType="DECIMAL" property="versionsize" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="apkLocPath" jdbcType="VARCHAR" property="apklocpath" />
    <result column="apkFileName" jdbcType="VARCHAR" property="apkfilename" />
  </resultMap>
</mapper>