<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.myappinfo.dao.DevUserMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.myappinfo.pojo.DevUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="devCode" jdbcType="VARCHAR" property="devcode" />
    <result column="devName" jdbcType="VARCHAR" property="devname" />
    <result column="devPassword" jdbcType="VARCHAR" property="devpassword" />
    <result column="devEmail" jdbcType="VARCHAR" property="devemail" />
    <result column="devInfo" jdbcType="VARCHAR" property="devinfo" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
  </resultMap>
</mapper>